body {
    font-family:Helvetica, Arial, sans-serif;
}

h1 {
    border-bottom:1px solid #DDDDDD;
}

h2 {
    text-align:center;
    color:#555555;
    font-style:italic;

    padding-top:50px;
    padding-bottom:50px;
}

table {
    padding-top:50px;
    padding-bottom:50px;

    text-align:center;

    margin-left:auto;
    margin-right:auto;
}

#container {
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;

    width:960px;

    border-bottom:1px solid #DDDDDD;
}
